img {
  width: 100%;
  height: auto;
}

#productsDiv img:hover {
  filter: brightness(150%);
}

header img {
  height: 50vh;
}

footer img {
  height: 50vh;
  margin-top: 40px;
}

a {
  cursor: pointer;
}

.product {
  width: 200px;
  height: auto;
  border: 1px solid black;
  padding: 5px;
  margin: 20px;
  display: inline-block;
}

button {
  border: solid black 0.5px;
}
#checkoutBtn,
#clear-cart {
  width: 200px;
  height: 100px;
  margin: 40px;
  margin-top: 0px;
  border-radius: 50%;
}

#shoppingcart1 {
  padding: 40px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

#formDiv {
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 40px;

  border-left: 0.5px solid black;
}

h1,
#productsDiv,
#checkoutDiv {
  padding: 10px;
  border-bottom: 0.5px solid black;
}
